In [23]:
from pyspark.sql import SparkSession

In [24]:
ss = SparkSession \
    .builder \
    .config("spark.sql.warehouse.dir", "D:/Python/2024/test_hadoop/hoc_spark/warehouse") \
    .enableHiveSupport() \
    .getOrCreate()

In [25]:
df = ss.read.csv("D:/Python/2024/test_hadoop/hoc_spark/demo.csv", header=True, inferSchema=True)

In [27]:
order_tb = df.createOrReplaceTempView("order_tmp")

In [28]:
ss.sql("select * from order_tmp").show(5)

+--------------+-----------+-----------+----------+--------+
|Order_Priority|Customer_ID|  Ship_Mode|Order_Date|Order_ID|
+--------------+-----------+-----------+----------+--------+
| Not Specified|          2|Regular Air| 5/28/2012|   88525|
|          High|          3|Express Air|  7/7/2010|   88522|
| Not Specified|          3|Express Air| 7/27/2011|   88523|
| Not Specified|          3|Regular Air| 7/27/2011|   88523|
| Not Specified|          3|Express Air| 7/27/2011|   88523|
+--------------+-----------+-----------+----------+--------+
only showing top 5 rows

## tao database

In [29]:
ss.sql("create database if not exists spark_sql_db")

DataFrame[]

In [30]:
ss.sql("show tables").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|         |order_tmp|       true|
+---------+---------+-----------+

In [31]:
ss.sql("show databases").show()

+------------+
|   namespace|
+------------+
|     default|
|spark_sql_db|
+------------+

## tao bang orders_managed tu bang tam order_tmp

In [32]:
ss.sql("create table if not exists spark_sql_db.orders_managed as select * from order_tmp")

DataFrame[]

In [33]:
ss.sql("show tables from spark_sql_db").show(5)

+------------+---------------+-----------+
|   namespace|      tableName|isTemporary|
+------------+---------------+-----------+
|spark_sql_db|orders_external|      false|
|spark_sql_db| orders_managed|      false|
|spark_sql_db|orders_mmanaged|      false|
|            |      order_tmp|       true|
+------------+---------------+-----------+

In [34]:
ss.sql("select * from spark_sql_db.orders_managed").show(5)

+--------------+-----------+-----------+----------+--------+
|Order_Priority|Customer_ID|  Ship_Mode|Order_Date|Order_ID|
+--------------+-----------+-----------+----------+--------+
| Not Specified|          2|Regular Air| 5/28/2012|   88525|
|          High|          3|Express Air|  7/7/2010|   88522|
| Not Specified|          3|Express Air| 7/27/2011|   88523|
| Not Specified|          3|Regular Air| 7/27/2011|   88523|
| Not Specified|          3|Express Air| 7/27/2011|   88523|
+--------------+-----------+-----------+----------+--------+
only showing top 5 rows

## show chi tiet bang

In [35]:
ss.sql("describe extended spark_sql_db.orders_managed").show(30, False)

+----------------------------+-----------------------------------------------------------------------------------+-------+
|col_name                    |data_type                                                                          |comment|
+----------------------------+-----------------------------------------------------------------------------------+-------+
|Order_Priority              |string                                                                             |NULL   |
|Customer_ID                 |int                                                                                |NULL   |
|Ship_Mode                   |string                                                                             |NULL   |
|Order_Date                  |string                                                                             |NULL   |
|Order_ID                    |string                                                                             |NULL   |
|                            |                                                                                   |       |
|# Detailed Table Information|                                                                                   |       |
|Catalog                     |spark_catalog                                                                      |       |
|Database                    |spark_sql_db                                                                       |       |
|Table                       |orders_managed                                                                     |       |
|Owner                       |LONG                                                                               |       |
|Created Time                |Fri Jun 07 14:51:38 ICT 2024                                                       |       |
|Last Access                 |UNKNOWN                                                                            |       |
|Created By                  |Spark 3.5.1                                                                        |       |
|Type                        |MANAGED                                                                            |       |
|Provider                    |hive                                                                               |       |
|Table Properties            |[transient_lastDdlTime=1717746699]                                                 |       |
|Statistics                  |383338 bytes                                                                       |       |
|Location                    |file:/D:/Python/2024/test_hadoop/hoc_spark/warehouse/spark_sql_db.db/orders_managed|       |
|Serde Library               |org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe                                 |       |
|InputFormat                 |org.apache.hadoop.mapred.TextInputFormat                                           |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat                         |       |
|Storage Properties          |[serialization.format=1]                                                           |       |
|Partition Provider          |Catalog                                                                            |       |
+----------------------------+-----------------------------------------------------------------------------------+-------+

## tao bang external tu bang orders_managed

In [36]:
ss.sql("create external table if not exists spark_sql_db.orders_external (Order_Priority string, Customer_ID int, Ship_Mode string, Order_Date string, Order_ID string) row format delimited fields terminated by ',' location 'file:/D:/Python/2024/test_hadoop/hoc_spark/warehouse/spark_sql_db.db/orders_managed'")

DataFrame[]

In [37]:
ss.sql("show tables from spark_sql_db").show()

+------------+---------------+-----------+
|   namespace|      tableName|isTemporary|
+------------+---------------+-----------+
|spark_sql_db|orders_external|      false|
|spark_sql_db| orders_managed|      false|
|spark_sql_db|orders_mmanaged|      false|
|            |      order_tmp|       true|
+------------+---------------+-----------+

In [48]:
ss.sql("select * from spark_sql_db.orders_managed").show()

+--------------+-----------+--------------+----------+--------+
|Order_Priority|Customer_ID|     Ship_Mode|Order_Date|Order_ID|
+--------------+-----------+--------------+----------+--------+
| Not Specified|          2|   Regular Air| 5/28/2012|   88525|
|          High|          3|   Express Air|  7/7/2010|   88522|
| Not Specified|          3|   Express Air| 7/27/2011|   88523|
| Not Specified|          3|   Regular Air| 7/27/2011|   88523|
| Not Specified|          3|   Express Air| 7/27/2011|   88523|
|        Medium|          3|   Express Air| 11/9/2011|   88524|
|           Low|          3|Delivery Truck|  7/1/2013|   88526|
| Not Specified|          5|Delivery Truck|12/13/2010|   90193|
|           Low|          5|   Regular Air| 5/12/2012|   90197|
|          High|          6|   Regular Air| 5/26/2011|   90194|
|      Critical|          6|   Regular Air|12/29/2012|   90200|
|      Critical|          6|   Regular Air|12/29/2012|   90200|
|      Critical|          6|   Regular Air|12/29/2012|   90200|
|          High|          7|   Regular Air|10/30/2012|   90198|
|        Medium|          8|Delivery Truck|12/25/2012|   90199|
|        Medium|          9|Delivery Truck|12/25/2012|   90199|
|      Critical|         10|   Regular Air| 10/4/2011|   90195|
|      Critical|         11|   Regular Air| 8/15/2010|   90192|
|          High|         12|   Regular Air| 2/24/2012|   90196|
|        Medium|         14|   Regular Air| 5/12/2010|   86838|
+--------------+-----------+--------------+----------+--------+
only showing top 20 rows

In [42]:
ss.sql("describe extended spark_sql_db.orders_external").show(30, False)

+----------------------------+-----------------------------------------------------------------------------------+-------+
|col_name                    |data_type                                                                          |comment|
+----------------------------+-----------------------------------------------------------------------------------+-------+
|Order_Priority              |string                                                                             |NULL   |
|Customer_ID                 |int                                                                                |NULL   |
|Ship_Mode                   |string                                                                             |NULL   |
|Order_Date                  |string                                                                             |NULL   |
|Order_ID                    |string                                                                             |NULL   |
|                            |                                                                                   |       |
|# Detailed Table Information|                                                                                   |       |
|Catalog                     |spark_catalog                                                                      |       |
|Database                    |spark_sql_db                                                                       |       |
|Table                       |orders_external                                                                    |       |
|Owner                       |LONG                                                                               |       |
|Created Time                |Fri Jun 07 14:57:37 ICT 2024                                                       |       |
|Last Access                 |UNKNOWN                                                                            |       |
|Created By                  |Spark 3.5.1                                                                        |       |
|Type                        |EXTERNAL                                                                           |       |
|Provider                    |hive                                                                               |       |
|Table Properties            |[transient_lastDdlTime=1717747057]                                                 |       |
|Statistics                  |383338 bytes                                                                       |       |
|Location                    |file:/D:/Python/2024/test_hadoop/hoc_spark/warehouse/spark_sql_db.db/orders_managed|       |
|Serde Library               |org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe                                 |       |
|InputFormat                 |org.apache.hadoop.mapred.TextInputFormat                                           |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat                         |       |
|Storage Properties          |[serialization.format=,, field.delim=,]                                            |       |
|Partition Provider          |Catalog                                                                            |       |
+----------------------------+-----------------------------------------------------------------------------------+-------+

## tao bang tu file csv

In [73]:
ss.sql("""create external table if not exists spark_sql_db.orders_external2 
        (Order_Priority string, Customer_ID int, Ship_Mode string, Order_Date string, Order_ID string) 
        using csv options (path 'D:/Python/2024/test_hadoop/hoc_spark/demo.csv', header 'True')""")

DataFrame[]

In [72]:
ss.sql("show tables from spark_sql_db").show()

+------------+---------------+-----------+
|   namespace|      tableName|isTemporary|
+------------+---------------+-----------+
|spark_sql_db|orders_external|      false|
|spark_sql_db| orders_managed|      false|
|            |      order_tmp|       true|
+------------+---------------+-----------+

In [74]:
ss.sql("describe extended spark_sql_db.orders_external2").show(30, False)

+----------------------------+---------------------------------------------------------+-------+
|col_name                    |data_type                                                |comment|
+----------------------------+---------------------------------------------------------+-------+
|Order_Priority              |string                                                   |NULL   |
|Customer_ID                 |int                                                      |NULL   |
|Ship_Mode                   |string                                                   |NULL   |
|Order_Date                  |string                                                   |NULL   |
|Order_ID                    |string                                                   |NULL   |
|                            |                                                         |       |
|# Detailed Table Information|                                                         |       |
|Catalog                     |spark_catalog                                            |       |
|Database                    |spark_sql_db                                             |       |
|Table                       |orders_external2                                         |       |
|Owner                       |LONG                                                     |       |
|Created Time                |Fri Jun 07 16:11:27 ICT 2024                             |       |
|Last Access                 |UNKNOWN                                                  |       |
|Created By                  |Spark 3.5.1                                              |       |
|Type                        |EXTERNAL                                                 |       |
|Provider                    |csv                                                      |       |
|Location                    |file:/D:/Python/2024/test_hadoop/hoc_spark/demo.csv      |       |
|Serde Library               |org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe       |       |
|InputFormat                 |org.apache.hadoop.mapred.SequenceFileInputFormat         |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.HiveSequenceFileOutputFormat|       |
|Storage Properties          |[header=True]                                            |       |
+----------------------------+---------------------------------------------------------+-------+

In [75]:
ss.sql("select * from spark_sql_db.orders_external2").show(5)

+--------------+-----------+-----------+----------+--------+
|Order_Priority|Customer_ID|  Ship_Mode|Order_Date|Order_ID|
+--------------+-----------+-----------+----------+--------+
| Not Specified|          2|Regular Air| 5/28/2012|   88525|
|          High|          3|Express Air|  7/7/2010|   88522|
| Not Specified|          3|Express Air| 7/27/2011|   88523|
| Not Specified|          3|Regular Air| 7/27/2011|   88523|
| Not Specified|          3|Express Air| 7/27/2011|   88523|
+--------------+-----------+-----------+----------+--------+
only showing top 5 rows

## thu drop bang: 
- drop bang managed(quan ly boi spark thi) thi spark se xoa het data file va matadata(schema)
- drop bang external(spark chi quan ly schema. data file tu bat ky dau nhu tu bang managed, hay tu file csv... thi spark chi quan ly schema thoi) thi spark chi xoa matadata(schema)

In [76]:
#ss.sql("drop table if exists spark_sql_db.orders_mmanaged")